name: Environment
on:
  workflow_dispatch:
    inputs:
      environments:
        description: Test
        type: choice
        required: true
        options:
          - DEV
          - PROD
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: check status
        run: echo "Just for check in ${{ github.event.inputs.environments }}"
