name: Environment
on:
  workflow_dispatch:
    inputs:
      environments:
        description: just for Test
        type: choice
        required: true
        options:
          - DEV
          - PROD
jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5 # if should not run more than 5 minutes it goes to failure if it is taking time
    steps:
      - name: Test it
        run: echo "This is for test ${{ github.event.inputs.environments }}"
