name: Environment
on:
  workflow_dispatch:
    inputs:
      environments:
        description: Test
        type: choice
        required: true
jobs:
  deploy:
    steps:
      - name: check status
        run: echo "Just for check in ${{ github.event.inputs.environments }}"
