name: Environment Selector workflow
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select Environment"
        required: true
        default: QA
        type: choice
        options:
        - DEV
        - PROD
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Show selected env
        run: echo "Deployment to ${{ github.event.inputs.environment}}"