name: Environment
on:
  workflow_dispatch:
    inputs:
      environments:
        description: just for Test
        type: choice
        required: true
        options:
          - DEV
          - PROD
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Test it
        run: echo "This is for test ${{ github.event.inputs.environments }}"
---
name: Testing
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: testing for echo
        run: echo "HELLAO"